name: CI
on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

env:
  # Used to select the version of Godot to run the tests with.
  GODOT_TEST_VERSION: 4.3-stable
  # Use UTF-8 on Linux.
  LANG: en_US.UTF-8
  LC_ALL: en_US.UTF-8

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:

  # run the pre-commit hooks and commit any changes
  lint:
    name: pre-commit hooks
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: pre-commit/action@v3.0.1
      - uses: pre-commit-ci/lite-action@v1.1.0
        if: always()

  # build the GDExtension
  build:
    name: build GDExtension
    needs: lint
    strategy:
      fail-fast: false
      matrix:
        target:
          [
            { platform: linux, arch: x86_64, os: ubuntu-22.04, run_tests: true },
            { platform: windows, arch: x86_64, os: windows-latest },
            { platform: windows, arch: x86_32, os: windows-latest },
            { platform: macos, arch: universal, os: macos-latest },
            { platform: android, arch: arm64, os: ubuntu-22.04 },
            { platform: android, arch: arm32, os: ubuntu-22.04 },
            { platform: android, arch: x86_64, os: ubuntu-22.04 },
            { platform: android, arch: x86_32, os: ubuntu-22.04 },
            { platform: ios, arch: arm64, os: macos-latest },
            { platform: web, arch: wasm32, os: ubuntu-22.04 }
          ]
        target-type: [editor, template_debug, template_release]
        # disabling double precision builds for now; doubles the CI time for
        # unlikely case.
        float-precision: [single] # , double]

    runs-on: ${{ matrix.target.os }}
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true

      # Lint
      #- name: Setup clang-format
      #  shell: bash
      #  run: |
      #    python -m pip install clang-format
      #- name: Run clang-format
      #  shell: bash
      #  run: |
      #    clang-format src/** --dry-run --Werror

      # Setup dependencies
      - name: Setup godot-cpp build environment
        uses: godotengine/godot-cpp/.github/actions/setup-godot-cpp@godot-4.4-stable
        with:
          platform: ${{ matrix.target.platform }}
          em-version: 3.1.62

      # Build GDExtension (with caches)
      - name: Cache .scons_cache
        uses: actions/cache@v4
        with:
          path: ${{ github.workspace }}/.scons-cache/
          key: scons_cache-${{ matrix.target.platform }}_${{ matrix.target.arch }}_${{ matrix.float-precision }}_${{ matrix.target-type }}_${{ hashFiles('.gitmodules') }}

      - name: Build GDExtension
        shell: sh
        env:
          SCONS_CACHE: ${{ github.workspace }}/.scons-cache/
        run: |
          scons \
            verbose=1 \
            target_path=bin/ \
            target=${{ matrix.target-type }} \
            platform=${{ matrix.target.platform }} \
            arch=${{ matrix.target.arch }} \
            precision=${{ matrix.float-precision }}

      # TODO: run gdscript tests also, see
      # https://github.com/godotengine/godot-cpp/blob/f08e781b0ba3e45264d7d40e5d6debaa0d838383/.github/workflows/ci.yml#L142-L178
      - name: Run doctests
        if: matrix.target.run_tests
        run: |
          scons \
            verbose=1 \
            target=${{ matrix.target-type }} \
            platform=${{ matrix.target.platform }} \
            arch=${{ matrix.target.arch }} \
            precision=${{ matrix.float-precision }} \
            run_tests

      - name: Download requested Godot version for testing
        if: matrix.target.run_tests
        run: |
          wget "https://github.com/godotengine/godot-builds/releases/download/${GODOT_TEST_VERSION}/Godot_v${GODOT_TEST_VERSION}_linux.x86_64.zip" -O Godot.zip
          unzip -a Godot.zip
          chmod +x "Godot_v${GODOT_TEST_VERSION}_linux.x86_64"
          echo "GODOT=$(pwd)/Godot_v${GODOT_TEST_VERSION}_linux.x86_64" >> $GITHUB_ENV

      - name: Run GDScript tests
        if: matrix.target.run_tests
        run: |
          $GODOT --headless --version

          # link the dll over into lib so we can run the tests
          mkdir -p demo/addons/hex_map/lib/ &&
              ln -sv $(pwd)/bin/* demo/addons/hex_map/lib/
          # workaround for https://github.com/bitwes/Gut/issues/589, create the
          # .godot directory so GUT can find GutUtils
          (cd demo && (timeout 30 $GODOT --import --headless >/dev/null 2>&1 || true))

          # actually run the tests
          $GODOT --headless -s addons/gut/gut_cmdln.gd -d --path ./demo
          # cd test
          # # Need to run the editor so .godot is generated... but it crashes! Ignore that :-)
          # (cd project && (timeout 30 $GODOT --import --headless >/dev/null 2>&1 || true))
          # ./run-tests.sh

      # Sign the binary (macOS only)
      # - name: Mac Sign
      #   # Disable sign if secrets are not set
      #   if: ${{ matrix.target.platform == 'macos' && env.APPLE_CERT_BASE64 }}
      #   env:
      #     APPLE_CERT_BASE64: ${{ secrets.APPLE_CERT_BASE64 }}
      #   uses: ./.github/actions/sign
      #   with:
      #     FRAMEWORK_PATH: bin/macos/macos.framework
      #     APPLE_CERT_BASE64: ${{ secrets.APPLE_CERT_BASE64 }}
      #     APPLE_CERT_PASSWORD: ${{ secrets.APPLE_CERT_PASSWORD }}
      #     APPLE_DEV_PASSWORD: ${{ secrets.APPLE_DEV_PASSWORD }}
      #     APPLE_DEV_ID: ${{ secrets.APPLE_DEV_ID }}
      #     APPLE_DEV_TEAM_ID: ${{ secrets.APPLE_DEV_TEAM_ID }}
      #     APPLE_DEV_APP_ID: ${{ secrets.APPLE_DEV_APP_ID }}

      # Clean up compilation files
      - name: Windows - Delete compilation files
        if: ${{ matrix.target.platform == 'windows' }}
        shell: pwsh
        run: |
          Remove-Item bin/* -Include *.exp,*.lib,*.pdb -Force

      # Upload the build
      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: godot-hex-map-${{ matrix.target.platform }}-${{ matrix.target.arch }}-${{ matrix.float-precision }}-${{ matrix.target-type }}
          path: |
            ${{ github.workspace }}/bin/**


  # Merges all the build artifacts together into a single godot-hex-map artifact.
  # If you comment out this step, all the builds will be uploaded individually.
  merge:
    name: merge build artifacts
    needs: build
    runs-on: ubuntu-22.04
    steps:
      - name: Merge Artifacts
        uses: actions/upload-artifact/merge@v4
        with:
          name: godot-hex-map
          pattern: godot-hex-map-*
          delete-merged: true
